/node_modules
/public/storage
/public/hot
/storage/*.key
/vendor
/.idea
Homestead.json
Homestead.yaml
.env
/storage/logs/nginx_access.log
/storage/logs/nginx_error.log
storage/gtfs/*
tags
.php_cs.cache
tests/Browser/console/*
storage/scout_testing.json
